* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: darkred;
}

#page_heading {
    text-align: center;
    color: white;
}

#login_form {
    background-color: white;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
}

#login_title {
    margin-left: 10px;
}

#login_username {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 15px;
}

#login_password {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 15px;
}

#remember-me_label{
    margin-left: 10px;
    font-size: 15px;
}
#remember-me {
    margin-top: 10px;
    margin-left: 10px;
}

#sign_in_btn {
    margin-top: 10px;
    margin-left: 10px;
}

#OR {
    text-align: center;
    color: white;
}

#register_form {
    background-color: white;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
}

#register_title {
    margin-left: 10px;
}

#register_username {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 15px;
}

#register_password {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 15px;
}

#register_btn {
    margin-top: 10px;
    margin-left: 10px;
}