<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css}" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="../static/css/login.css" th:href="@{/css/login.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h1 id="page_heading" th:id="page_heading">Movies Galore</h1>
            <div>
                <form th:action="@{/}" method="post" id="login_form">
                    <h2 id="login_title">Login</h2>
                    <input type="text" name="username" placeholder="Username" th:placeholder="Username"  id="login_username" th:id="login_username" th:required="required" th:autofocus="autofocus"/>
                    <br/>
                    <input type="password" name="password" placeholder="Password" th:placeholder="Password" id="login_password" th:id="login_password" th:required="required" />
                    <br/>
                    <label id="remember-me_label" for="remember-me">Remember me?</label>
                    <input type="checkbox" id="remember-me" th:id="remember-me" name="remember-me" />
                    <br/>
                    <input type="submit" class="btn btn-primary" value="Sign In" id="sign_in_btn" th:id="sign_in_btn"/>
                </form>
                <div th:if="${param.error}">
                    Invalid username or password.
                </div>
                <!-- show notification of logout -->
                <div th:if="${param.logout}">
                    You have been logged out.
                </div>
                <!-- login form -->
                </br>
                <h1 id="OR">OR</h1>
            </div>
            <div>
                <form th:action="@{/register}" method="post" th:method="post" id="register_form" th:id="register_form">
                    <h2 id="register_title">Register</h2>
                    <input type="text" name="username" placeholder="Username" th:placeholder="Username" th:name="userName" id="register_username" th:required="required" th:autofocus="autofocus"/>
                    <br/>
                    <input type="password" name="password" placeholder="Password" th:placeholder="Password" th:name="password" id="register_password"  th:required="required" />
                    <br/>
                    <div th:if="${Success}">
                        <div th:text="${Success}"></div>
                    </div>
                    <input type="submit" class="btn btn-success" value="Register" id="register_btn" th:id="sign_in_btn"/>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- show notification on error -->
</body>
</html>
