<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet">
    <link th:href="@{resources/static/css/login.css}" rel="stylesheet" type="text/css">
</head>
<body>
<!-- show notification on error -->
<div th:if="${param.error}">
    Invalid username or password.
</div>

<!-- show notification of logout -->
<div th:if="${param.logout}">
    You have been logged out.
</div>

<!-- login form -->
<div>
    <div class="logo">
        <img src="resources/static/logo.png" alt="">
    </div>
    <div class="title">CS4125</div>
    <div class="sub-title">Movie Rental Service</div>
    <form th:action="@{/login}" method="post">
        <h2 >Welcome, please sign in</h2>
        <input type="text" name="username" placeholder="Username" th:required="required" th:autofocus="autofocus"/>
        <br/>
        <input type="password" name="password" placeholder="Password" th:required="required" />
        <br/>

        <label for="remember-me">Remember me?</label>:
        <input type="checkbox" id="remember-me" name="remember-me" /> <br />

        <input type="submit" value="Sign In"/>
    </form>
</div>

</body>